################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/DreamField/v15/Server/sqlite3
/.vs/DreamField/v15
/.vs/slnx.sqlite
