.vs
DreamField.Model/bin/
DreamField.Model/obj/
DreamField.DataAccessLevel/bin/
DreamField.DataAccessLevel/obj/
DreamField.BusinessLogic/bin/
DreamField.BusinessLogic/obj/
DreamField.ServiceLayer/bin/
DreamField.ServiceLayer/obj/
DreamField.WPFInterface/bin/
DreamField.WPFInterface/obj/
DreamField.Tests/bin/
DreamField.Test/obj/